
        .panel-default>.panel-heading {
            color: #fff !important;
            background-color: #48484b !important;
            border-color: #fff !important;
        }
        .panel-default {
            border-color: #eceff1;
            box-shadow: 0px 1px 5px 0px #eceff1;
        }
        .hide {
            display: none;
        }
        .messages.msg_sent:after {
            /*content: '';*/
            /*position: absolute;*/
            /*border-color: transparent transparent transparent #607D8B !important;*/
            /*width: 10px;*/
            /*height: 10px;*/
            /*border: 8px solid;                */
            /*right: -6px;*/
            /*bottom:8px;*/
            
            content: '';
            position: absolute;
            border-color: transparent transparent transparent #cdf4d7 !important;
            width: 10px;
            height: 10px;
            border: 8px solid;
            right: 1px;
            top: 0px;
            border-width: 0 0 10px 10px; 
           
            
        }
       
           
        .messages.msg_receive:before {
            content: '';
            position: absolute;
            border-color: transparent #efefef transparent transparent !important;
            width: 10px;
            height: 10px;
            border: 8px solid;
            top: 0px;
            left: 1px;
            border-width: 0 10px 10px  0;
        }
        .relative {
            position: relative;
        }
        .btn-group-lg>.btn,
        .btn-lg {
            padding: 6px 10px;
        }
        .col-md-2,
        .col-md-10 {
            padding: 0;
        }
        .panel {
            margin-bottom: 0px;
        	position: relative;
        }
        .chat-window.new {
            /*width: 350px;
            margin: 0 auto;*/
            position: fixed;
            top: 61px;
            left: 0;
            height: 100%;
            max-height: unset;
            box-shadow: 0px 12px 21px #bbbaba;
            -moz-box-shadow: 0px 12px 21px #bbbaba;
            -webkit-box-shadow: 0px 12px 21px #bbbaba;
            background-color: #fafafa;
        }
        .chat-window > div > .panel {
            border-radius: 5px 5px 0 0;
        }
        .icon_minim {
            padding: 2px 10px;
        }
        .msg_container_base {
            background: #fff;
            padding: 10px 15px;
            max-height: 100%;
            height: 400px;
            /*background-image: url('/images/free-from-section-cover.png');*/
            overflow-x: hidden;
            position: relative;
        }
        .top-bar {
            background: #666;
            color: white;
            padding: 10px 10px;
            position: relative;
            /*overflow: hidden;*/
        }
        .msg_receive {
            padding-left: 0px;
            margin-left: 0;
            background-color: #eceff1;
        }
        .msg_sent {            
            margin-right: 10px;
            margin-left: 0px !important;
            background: #cdf4d7;
            color: #333 !important;
            border-top-right-radius: 0px !important;
            
        }
         
        .messages {
            padding: 5px 10px;
            border-radius: 2px 0 2px 2px;
            /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
            max-width: 100%;
            margin-left: 10px;
            font-size: 0.8rem;
            color: #747474;
        }
        .messages.leftside {
        	border-radius: 0px 3px 3px 3px;
        }
        .messages > p {
            margin: 0 0 0.2rem 0;
        }
        .messages > time {
            font-size: 11px;
            color: #ccc;
        }
        .msg_container {
            padding: 10px;
            overflow: hidden;
            display: flex;
        }
        .avatar {
            position: relative;
        	text-align: center;
        }
        .avatarUser {
            position: relative;
            /*margin-bottom: 22px;*/
            display: none;
        }
        .userMe {
            font-size: 11px;
            color: #999;
            text-transform: capitalize;
            white-space: normal;
        	display: none;
        }
        .userMe-fixed{
        	
            width: 100%;
            text-align: center;
            padding: 5px 0;
            border-bottom: 1px solid #fff;	
        	background-color: #009cd9;
        	color: #fff;
        	text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
        }
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-menu {
            min-width: 85px !important;
        }
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .base_sent {
            justify-content: flex-end;
            align-items: flex-end;
           
        }
        .msg_sent > time {
            float: right;
        }
        .msg_container_base::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }
        .msg_container_base::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        .msg_container_base::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
        .btn-group.dropup {
            position: fixed;
            left: 0px;
            bottom: 0;
        }
        /*Added by Praveen*/
        
        #loading-image {
            display: none;
            position: absolute;
            bottom: 80px;
            left: 48%;
            z-index: 1;
        }
        #chatingimage {
            margin-left: 42px;
            bottom: 245px;
            color: #d58512;
            margin-top: -11px;
        }
        #showtime {
            border-top: 1px solid  #ccd0d4;
        	color: #747474;
        	padding: 5px 0;
        	text-align: center;
        	width: 100%;
        	position: relative;
        margin:15px 0;
        font-size: 12px;
        }
        #showtime span{
        	width: 100px;
        	background-color: #eff1f3;
        	padding: 3px 5px;
        position: absolute;
        left: calc( 50% - 50px);
        top: -12px;
        }
        .timeRLbl {
            margin-top: -5px;
            margin-right: 7px;
            color: #908e8e;
            float: right;
            font-size: 12px;
        }
        .timeRLbls {
            margin-top: -5px;
            margin-right: 7px;
            color: #908e8e;
            float: right;
            font-size: 12px;
        }
        .timeLLbl {
            color: #908e8e;
            margin-top: 5px;
            margin-left: 8px;
            font-size: 12px;
        }
        .chat-window .btn-warning {
            background-color: #2196f3 !important;
            background: none;
            color: #fff;
            border: 0;
            font-weight: normal;
            font-size: 12px;
        }
        .chat-window .btn-warning:active:hover,
        .chat-window .btn-warning:hover {
            background-color: #1976D2 !important;
        }
        /*.popover {*/
        /*  width:110px;*/
        /*}*/
        
        a.dropdown-toggle,
        a.dropdown-toggle:hover,
        a.dropdown-toggle:focus {
            color: #fff;
        }
        .btn-group-lg>.btn,
        .btn-lg {
            padding: 10px 16px !important;
            font-size: 17px !important;
            background: #fff !important;
            border-color: #ccc !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
            line-height: 1.45 !important;
            border-bottom-right-radius: 6px !important;
            border-top-right-radius: 6px !important;
            margin-top: 0px !important;
        }
        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6 !important;
            border-color: #adadad !important;
        }
        .panel-center-title {
            font-size: 14px;
            float: right;
            margin-right: 0%;
            margin-top: 7px;
            margin-bottom: 0;
        }
        .btn.disabled, .btn[disabled], fieldset[disabled] .btn{
       		background: none;
    		background-color: #ccc;
    		border: 0;
        }

/*new addition*/
.panel-default {
    border-color: #009bde !important;
}
.input-group .form-control{
        border: 0;
    background: transparent;
    box-shadow: none;
}
.panel-footer{
    padding: 5px 5px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.btn-default, .btn-default:hover{
        border: 0 !important;
    box-shadow: none !important;
    background-color: #fff !important;
}
.bg-primary{
    background-color: #eceff1 !important;
}
.bg-secondary{
    background-color: #b6e8fa !important;
}
.card{
    border-radius: 0;
    border: 0;
    max-height: 500px;
    overflow: auto;
    font-size: 0.9rem;
}